.graphic{
    width: 1px; /* Adjust the width as needed */
    height: 1px; /* Adjust the height as needed */
}

.chart-container {
    width: 300px; /* Adjust the width as needed */
    height: 200px; /* Adjust the height as needed */
    position: absolute;
    top: 10px; /* Adjust the top position as needed */
    left: 10px; /* Adjust the left position as needed */
}
